
// Fonts
@import url('https://fonts.googleapis.com/css?family=Lato');

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  font: 100% $font-family-sans-serif;
  font-size: 16px;
  background-color: white;
  color: black;
}


#maintenance {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100%;
  position: fixed;

  #maintenance-logo {
    max-width: 20%;
  }
}